

:plain
  #{@user_email} is setting up email forwarding for ReplyFrom, and we’re sending this message to verify that it’s working properly.

  There’s nothing you need to do here. To ensure deliverability, you may receive a number of these.

  If you have any questions, don’t hesitate to reach out.

