- size ||= :tiny
- alt ||= ''
- user ||= current_user
.avatar{class: size.to_s}
  = link_to edit_user_registration_path do
    = image_tag user.image_url(size: size, ssl: request.ssl?), alt: alt
    %i.default.glyphicon.glyphicon-user

