%div.user-bodycontent.full-width
  %div.toolbar-users
    %h3
      #{count_messages} Messages
  .table-user-wrapper.layoutbox
    .table-portal
      %table
        %thead
          %tr
            %th
            %th
            %th
            %th
            %th
        %tbody
          %tr
            %td.tbl__cell
            %td.tbl__cell
            %td.tbl__cell
            %td.tbl__cell
            %td.tbl__cell
