%h1 Your campaigns

%ul
  - @prompts.each do |prompt|
    %li= link_to prompt.name, prompt

=render 'prompts/get_started'

=render 'modal'

= content_for :on_ready do
  = "$('#modalContainer').modal()"
