.app-row.height100.account_intro
	%h1
		ReplyFrom Team

	%p
		Edlyn Yuen wrote a Medium post that explains the genesis of ReplyFrom.

	%h2
		Edlyn Yuen

	%p
		=link_to 'Twitter', 'https://twitter.com/edlynyuen'
		= ' | '
		=link_to 'LinkedIn', 'https://www.linkedin.com/in/edlynyuen'

	%p
		Edlyn Yuen works on projects that make people feel more heard on the Internet. Her latest work is HelloPrompt.com, an email-based community based on responding to a prompt and seeing what other people wrote in the next day, anonymously. It has been seen in Washington Post, The Awl, Community.is, and Amy Poehler’s Smart Girls. She is also working on Poems.ink, an email-based poetry club discussion group. Edlyn is also a consultant based out of Orbital, a home for launching and developing new ideas, in New York City. In her past life, Edlyn invested in startups as a venture capitalist.


	%h2
		Lenny Bogdonoff

	%p
		=link_to 'Twitter', 'https://twitter.com/rememberlenny', {class: 'button'}
		= ' | '
		=link_to 'LinkedIn', 'https://www.linkedin.com/in/rememberlenny', {class: 'button'}

	%p
		Lenny is web developer based in New York City with an interest in painting and writing. He is an alumni of Soka University of America and actively explores the future media companies and production. He has built a wide array of projects, including Remind to Read, Get Sweet, Tell Me Bout It, Public Art and enjoys co-organizing hackathons and events.
